
.grid{
  display: grid;
    grid-template-areas: 
    " nav nav nav nav "
    " ListContainer ListContainer ListContainer ListContainer "
    " body body body body "
    " footer footer footer footer ";
    grid-template-rows: 15vh auto auto 20vh;
    grid-template-columns: 25vw 24.8vw 24.8vw 25vw;
}

.nav{
  grid-area: nav;
  display: inline;  
}

.ListContainer{
  grid-area: ListContainer;
  margin: 10px;
}
